<div class="sec-center"> 	
	
	<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
	<label class="for-dropdown" for="dropdown">@languageService.GetKey("Layout.Header.DropDown.Girisyap")<i class="uil uil-arrow-down"></i></label>
	<div class="section-dropdown"> 
		
			<form asp-action="" asp-controller="">
				<div class="sign-in-form">
				<label >E-mail</label>
				<input  type="email" />
				<label ></label>
				<input  type="password" />
				</div>
			</form>
		
	</div>
</div>