footer {
    background-color: rgb(80,105,90);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    font-size:18px;
    font-weight:600;
    position:absolute;
    width:100%;
    bottom:0px;
}

footer a {
    color: var(--header-text-color);
    transition: 0.7s;
}

footer a:hover {
    color: var(--link-hover-color);
}
#instagram-logo:hover {
    transition: 0.7s;
    color: rgb(150,52,100)
}