<footer>
    <div id="social-medias">
        <a href="https://www.instagram.com/eeer.eeen"><i id="instagram-logo"  class="fa fa-brands fa-instagram fa-2x"></i></a>
        <a href="https://github.com/EreenKara"><i id="github-logo" class="fa fa-brands fa-github fa-2x"></i></a>
    </div>
    <address>Sakarya/Serdivan</address>
    <p>All Copyrights are Reserved by Eren</p>
</footer>