#headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    background-color: var(--navbar-background-color);
    color: var(--header-text-color);
    font-size: 15px;
    position: sticky;
    top: 0;
    left: 0;
    
}

#Navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 10px 0 10px 0;
    align-items:center; 
}

.navPart a:current{
    color: var(--header-text-color);
    transition: 0.7s;
}

.navPart a:hover {
    color: var(--link-hover-color);
}
#language-select{
    font-size:2px!important;
    text-align:center!important;
    width:50px;
}
#LogoAndName {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#ErenAirlinesimage {
    width:50px !important;
}