@using WebProgrammingProject.Areas.Users.Models;
@model UserEditProfileViewModel
<form asp-action="Settings" asp-controller="Profile" asp-area="Users">
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <button tpye="submit">Submit</button>
</form>