@using EntityLayer.Concrete
@model Account
<div class="sec-center"> 	
	
	<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
	<label class="for-dropdown" for="dropdown">Sign-in<i class="uil uil-arrow-down"></i></label>
	<div class="section-dropdown"> 
		
			<form asp-action="" asp-controller="">
				<div class="sign-in-form">
				<label ></label>
				<input  type="email" />
				<label asp-for="Password"></label>
				<input asp-for="Password" type="password" />
				</div>
			</form>
		
	</div>
</div>