<header>
    <div id="headerdiv">
        <div id="LogoAndName">
            <img id="ErenAirlinesimage" src="./ErenAirlines.png" alt="Logo">
            <span>Eren's AirLines</span>
        </div>
        <nav>
            <div id="Navigation">
                <div class="navPart"><a id="ozel" href="">Plan&Book</a></div>
                <div class="navPart"><a>FlyDifferent</a></div>
                <div class="navPart"><a>Discover</a></div>
                <div class="navPart"><a>Signup</a></div>
                <div class="navPart"><a>Signin</a></div>
            </div>
        </nav>
    </div>
</header>