<h3>@TempData["Error"]</h3>


<div class="kart-genel">
    <div class="card kart">
        <div class="card-header">
            <h2>Airport</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" style="margin-top:10px;" asp-action="ListAirports" asp-controller="Airport" asp-area="Admins">List Airports</a>
            <a class="btn btn-primary" style="margin-top:10px;" asp-action="CreateAirport" asp-controller="Airport" asp-area="Admins">Create Airport</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Airplanes</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-action="ListAirplanes" asp-controller="Airplane" asp-area="Admins">List Airplane</a>
            <a class="btn btn-primary" asp-action="CreateAirplane" asp-controller="Airplane" asp-area="Admins">Create Airplane</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Flights</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-action="ListFlights" asp-controller="Flight" asp-area="Admins">List Flight</a>
            <a class="btn btn-primary" asp-action="CreateFlight" asp-controller="Flight" asp-area="Admins">Create Flight</a>
        </div>
    </div>
</div>

