<form id="ucus-guzergahiRound"  method="post">
    <div id="formRound">
        <div id="neredenDivRound" class="form-div">
            <label id="neredenLabelRound">From</label>
            <input class="form-control" id="neredenRound" type="text" />
        </div>
        <div class="form-div">
            <label>To</label>
            <input class="form-control" id="nereyeRound" type="text"/>
        </div>
        <div class="form-div">
            <label class="off">GidisTarihi</label>
            <input class="form-control" type="date" placeholder=""/>
        </div>
        <div class="form-div">
            <label class="off">GelisTarihi</label>
            <input class="form-control" type="date" placeholder=""/>
        </div>
        <div class="form-div">
            <label class="off">Passanger</label>
            <input class="form-control" type="number" />
        </div>
        <div id="form-buttonRound" class="form-div">
            <input class="form-control btn-success" type="button" value="Submit"/>
        </div>
    </div>
</form>

<script src="../Views/Shared/Partials/Form_FromToRound.cshtml.js"></script>
