<form id="ucus-guzergahi"  method="post">
    <div id="form">
        <div id="neredenDiv" class="form-div">
            <label id="neredenLabel">From</label>
            <input class="form-control" id="nereden" type="text" />
        </div>
        <div class="form-div">
            <label>To</label>
            <input class="form-control" id="nereye" type="text"/>
        </div>
        <div class="form-div">
            <label class="kucuk-label">Gidiş</label>
            <input class="form-control kucuk-label-input" type="date" placeholder=""/>
        </div>
        @if(false){
            <div class="form-div">
                <label class="kucuk-label">Dönüş</label>
                <input class="form-control kucuk-label-input" type="date" placeholder=""/>
            </div>
        }
        <div class="form-div">
            <label class="kucuk-label">Passenger</label>
            <input class="form-control kucuk-label-input" type="number" />
        </div>
        <div id="form-button" class="form-div">
            <input class="form-control btn-success" type="button" value="Submit"/>
        </div>
    </div>
</form>

<script src="../Views/Shared/Partials/FormPartial.cshtml.js"></script>
