@{
    int satir = 10;
    int sutun = 4;
}

<div class="plane">
  <div class="cockpit">
    <h1>B737-800</h1>
  </div>
  <div class="exit exit--front fuselage">

  </div>
  <ol class="cabin fuselage">
    @for (int i = 0; i < satir; i++)
    {
        <li class="row row--@(i+1)">
                <ol class="seats" type="A">
                @for (int j = 0; j < sutun; j++)
                {
                            <li class="seat">
                                <input type="checkbox" id="@(i+1)@((char)(65+j))">
                                <label for="@(i+1)@((char)(65+j))">@(i + 1)@((char)(65 + j))</label>
                            </li>
                }
                </ol>
            </li>
    }
  </ol>
  <div class="exit exit--back fuselage">

  </div>
</div>