<h3>@TempData["Error"]</h3>


<div class="kart-genel">
    <div class="card kart">
        <div class="card-header">
            <h2>Flights</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-action="ListRoles" asp-controller="HandleUsers" asp-area="Admins">List Roles</a>
            <a class="btn btn-primary" asp-action="CreateRole" asp-controller="HandleUsers" asp-area="Admins">Create Role</a>
        </div>
    </div>
</div>