@model IEnumerable<AppRole>

<h3>@TempData["Error"]</h3>
@if(Model.Any())
{
    foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                Role ID: @item.Id;
            </div>
            <div class="card-body">
                Role Name = @item.Name
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="HandleUsers" asp-area="Admins" asp-route-roleID="@item.Id" class="btn btn-primary">Edit</a>
                <a href = "" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else{
    <div class="card">
        <div class="card-header">
            No Role Found
        </div>
        <div class="card-body">
            Role Create
        </div>
        <div class="card-footer">
            <a asp-action="CreateRole" asp-controller="HandleUsers"  asp-area="Admins" class="btn btn-primary">Create</a>
        </div>
    </div>
}