@model EntityLayer.Concrete.Flight

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyPrice" class="control-label"></label>
                <input asp-for="EconomyPrice" class="form-control" />
                <span asp-validation-for="EconomyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessPrice" class="control-label"></label>
                <input asp-for="BusinessPrice" class="form-control" />
                <span asp-validation-for="BusinessPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirplaneID" class="control-label"></label>
                <select asp-for="AirplaneID" class ="form-control" asp-items="ViewBag.Airplanes"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartureAirportID" class="control-label"></label>
                <select asp-for="DepartureAirportID" class ="form-control" asp-items="ViewBag.DepartureAirports"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalAirportID" class="control-label"></label>
                <select asp-for="ArrivalAirportID" class ="form-control" asp-items="ViewBag.ArrivalAirports"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
