<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" lang="tr"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eren's AirLines</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/WebProgrammingProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProgrammingProject.styles.scss" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="headerdiv">
            <div id="LogoAndName">
                <img id="ErenAirlinesimage" src="./ErenAirlines.png" alt="Logo">
                <span>Eren's AirLines</span>
            </div>
            <nav>
                <div id="Navigation">
                    <div class="navPart"><a id="ozel" href="">Plan&Book</a></div>
                    <div class="navPart"><a>FlyDifferent</a></div>
                    <div class="navPart"><a>Discover</a></div>
                    <div class="navPart"><a>Signup</a></div>
                    <div class="navPart"><a>Signin</a></div>
                </div>
            </nav>
        </div>
    </header>


    <main role="main">
            @RenderBody()
    </main>

    <footer>
        <div id="social-medias">
            <a href="https://www.instagram.com/eeer.eeen"><i id="instagram-logo"  class="fa fa-brands fa-instagram fa-2x"></i></a>
            <a href="https://github.com/EreenKara"><i id="github-logo" class="fa fa-brands fa-github fa-2x"></i></a>
        </div>
        <address>Sakarya/Serdivan</address>
        <p>All Copyrights are Reserved by Eren</p>
    </footer>
    <script src=""></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
