html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
:root {
    --header-text-color: white;
    --label-flight-text-color: white;
    --secimler-button-background-color: rgb(245,245,245);
    --secimler-div-background-color: white;
    --secimler-div-text-color: black;
    --link-hover-color: black;
    --navbar-background-color: rgb(30,60,40);
    --ucus-listeleme-background: #f7f7f7;
    --ucus-listeleme-economy-business-background: white;
    --ucus-listeleme-economy: rgba(60,60,120,0.2);
    --ucus-listeleme-business: #F7EAE4;
    --information-form: rgba(220,220,230,0.4);
}
* {
    font-family:  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
}