#Resimicin {
    background-image: url(dogaresmi.jpg);
    background-size: cover;
    padding: 1px;
    color: var(--label-flight-text-color);
}

#flight-Choose {
    margin: 0px auto 0 auto;
    width: 65%;
}

#label {
    margin: 100px 0 100px 0;
}

.secimler {
    background-color: var(--secimler-button-background-color);
    border-radius: 6%;
    border: 0px solid var(--secimler-button-background-color);
}

.secimDiv {
    display: block;
    width: 100%;
    height: 300px;
    background-color: var(--secimler-div-background-color);
    color: var(--secimler-div-text-color);
}

.pasif {
    display: none;
}

.aktif {
    display: block;
}

.form-div {
    width: 19%;
    height: 60px;
}
.form-div input {
    height: 55px;
}

.form-div label {
    position: relative;
    bottom: -40px;
    left: 15px;
    font-size:20px;
    pointer-events: none; /*labela týklamamak için yaptým*/
    transition: 0.3s linear 0ms;
}


#ucus-guzergahi {
    background-color: black;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    gap: 1%;
}