<div id="Resimicin">
    <section id="flight-Choose" role="region" aria-labelledby="label-flightChoose">
        <div id="label">
            <h2>Hello</h2>
            <h2>Where do you want to explore</h2>
        </div>
        <div>
            <button id="secim1" class="secimler">flight</button>
            <button id="secim2" class="secimler">Check-in</button>
        </div>
        <div id="secim1Div" class="secimDiv aktif">Bazi secimler </div>
        <div id="secim2Div" class="secimDiv pasif">Bazi secimler ancak bu sadece ve sadece secilince gozukecek</div>
    </section>
</div>
<script src="../Views/AnaSayfa/Index.cshtml.js"></script>