@model Person
<div id="Resimicin">
    <section id="flight-Choose" role="region" aria-labelledby="label-flightChoose">
        <div id="label">
            <h2>Hello</h2>
            <h2>Where do you want to explore</h2>
        </div>
        <div id="secimlerDiv">
            <button id="secim1" class="secimler">flight</button>
            <button id="secim2" class="secimler">Check-in</button>
        </div>
        <div class="secim1Div">
            <div id="ucus-tipi">
                <input id="OneWay" type="radio" name="flight-type" value="OneWay" checked/><label>OneWay</label>
                <input  id="RoundTrip" type="radio" name="flight-type" value="RoundTrip"/><label>Round Trip</label>
            </div>

            <div id="OneWayDiv" class="secimDiv aktif">
                <partial name="~/Views/Shared/Partials/Form_FromTo.cshtml" />
            </div>
            <div id="RoundDiv" class="secimDiv pasif">
                <partial name="~/Views/Shared/Partials/Form_FromToRound.cshtml" />
            </div>
        </div>
        <div class="secim2Div">
            
        </div>
    </section>
</div>


@section Scripts{
        <script src="../Views/AnaSayfa/Index.cshtml.js"></script>
}