@model Person
<div id="Resimicin">
    <section id="flight-Choose" role="region" aria-labelledby="label-flightChoose">
        <div id="label">
            <h2>Hello</h2>
            <h2>Where do you want to explore</h2>
        </div>
        <div>
            <button id="secim1" class="secimler">flight</button>
            <button id="secim2" class="secimler">Check-in</button>
        </div>
        <div id="secim1Div" class="secimDiv aktif">
            <div id="ucus-tipi">
                <input id="OneWay" type="radio" name="flight-type" value="OneWay" checked/><label>OneWay</label>
                <input  id="RoundTrip" type="radio" name="flight-type" value="RoundTrip"/><label>Round Trip</label>
            </div>
            <form id="ucus-guzergahi"  method="post">
                <div id="neredenDiv" class="form-div">
                    <label id="neredenLabel">From</label>
                    <input class="form-control" id="nereden" type="text" />
                </div>
                <div class="form-div">
                    <label></label>
                    <input class="form-control" id="nereye" type="text"/>
                </div>
                <div class="form-div">
                    <input class="form-control" type="date"/>
                </div>
                <div class="form-div">
                    <input class="form-control" type="number" />
                </div>
            </form>
        </div>
        <div id="secim2Div" class="secimDiv pasif">Bazi secimler ancak bu sadece ve sadece secilince gozukecek</div>
    </section>
</div>


@section Scripts{
        <script src="../Views/AnaSayfa/Index.cshtml.js"></script>
}